.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .heading {
    margin-bottom: 30px;
  }

  .whiteColor {
    color: #FDFEFF;
    margin-left: 8px;
  }

  .ps-menu-root{
    margin-top: 15px;
    height: 95%;
  }

  .ps-menu-root ul {
    display: flex;
    flex-direction: column;
    height: 95%;
  }

  .logoutMenu {
    margin-top: auto;
  }
  
  .sidebar {
    flex: 0 0 auto;
    order: 1;
  }
  
  .main-content {
    flex: 1 0 auto;
    margin-left: 1rem;
    order: 2;
  }

  .ps-sidebar-container , h3{
    /* background-color: black !important; */
    background-image: url("../assets/background.jpeg");

    color: #BEBEBE;
  }

  a {
    color: #BEBEBE;
    &:hover{
      color: #ffffff;
    }
  }

  .ps-menuitem-root{
    line-height: 3.3;
  }

  .ps-menuitem-root .ps-menu-button:hover {
    background-color: black !important;
    color: #ffffff;
  }