
.heading {
  margin-bottom: 30px;
}

.whiteColor {
  color:var(--white-color);
  margin-left: 8px;
}

.ps-menu-root{
  margin-top: 15px;
  height: 95%;
}

.ps-active {
  color: var(--primary);

}


.ps-sidebar-root{
  height: 100%;
  background: var(--offWhite);
}


.ps-menu-root ul {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.logoutMenu {
  margin-top: auto;
}

.sidebar {
  flex: 0 0 3.9%;
  position: fixed;
  height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 3.9%; 
  height: calc(100vh - 3.9%); 
}


.ps-sidebar-container , h3{
  background: var(--offWhite);

  color: var(--dark-grey);
}

a {
  color: var(--grey4);
  &:hover{
    color: var(--primary);
  }
}

.ps-menuitem-root{
  line-height: 3.3;
  background-color: var(--offWhite);
}

.ps-menuitem-root .ps-menu-button:hover {
  background: none !important;
  color: var(--dark-grey);
}

a {
  color: var(--dark-blue);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--offWhite); 
  color: var(--grey1); 
  z-index: 999999;
  border-radius: 10px 10px 0px 0px;
}

.bottom-nav ul {
  list-style: none;
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.bottom-nav li {
  text-align: center;
  line-height: 1;
}

.bottom-nav a {
  text-decoration: none;
  color: var(--grey1);
}

.bottom-nav a:hover {
  text-decoration: underline;
}

.sidebar{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.mobile-display {
  display: none;
}

.active-item a{
  color: var(--primary);

}
.menu-icon{
  font-size: 2rem;
}


@media only screen and (min-width: 375px) and (max-width: 767px) {
  .mobile-error-handler{
    padding: 0rem !important;
  }
  .mobile-display-none{
    display: none;
  }
  .mobile-display{
    display: inline;
  }
  .main-content{
    margin-left: 0;
    padding-bottom: 5rem;
  }
  .mobile-text {
    display: block;
    font-size: 1rem;
    margin-left: 0.2rem;
  }
  .main-content {
    overflow-y: auto;
  }
}