body {
  background: linear-gradient(115.56deg, #C1EEF8 44.33%, #67D7ED 89.31%) !important;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.heading {
  margin-bottom: 30px;
}

.whiteColor {
  color:var(--white-color);
  margin-left: 8px;
}

.ps-menu-root{
  margin-top: 15px;
  height: 95%;
}

.ps-sidebar-root{
  height: 100%;
  background: var(--offWhite);
}




.ps-menu-root ul {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.logoutMenu {
  margin-top: auto;
}

.sidebar {
  position: fixed;
  display: flex;
  align-items: flex-start;
  width: 3.9%;
  height: 100vh;
}

.main-content {
  position: fixed;
  right: 0;
  width: 96.1%;
  height: 100%;
  overflow: auto;
}

.ps-sidebar-container , h3{
  background: var(--offWhite);

  color: var(--dark-grey);
}

a {
  color: var(--grey4);
  &:hover{
    color: var(--primary);
  }
}

.ps-menuitem-root{
  line-height: 3.3;
  background-color: var(--offWhite);
}

.ps-menuitem-root .ps-menu-button:hover {
  background: none !important;
  color: var(--primary);
  border-right: 4px solid var(--primary);
}
.ps-menuitem-root .ps-menu-button:active {
  color: var(--primary);
  background: none !important;

}

a {
  color: var(--dark-blue);
}