.swap-container {
 flex-wrap: wrap;
  height: 100%;
  padding: 2.6rem 0.4rem;
  width: 30%;
  margin-top: 2rem;
}

.swap-header {
  display: flex;
   align-items: center;
  margin-bottom: 15px;
}

.swap-title{
  font-size: 20px;
}

.transactions {
  font-size: 14px;
  color: var(--grey-label);
  font-size: 20px;
  margin-left: 19px;
}

.coming-soon {
  background: var(--swiper-background);
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 4px;
  color: var(--secondary-color);

}

.hint-network {
    background: var(--swiper-background);
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 4px;
}

.swap-box {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 19px;
  margin-bottom: 14px;
  text-align: left;
}

.swap-label {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: var(--grey-label)
}

.username {
  margin-left: 5px;
  color: var(--black);
}

.balance {
  font-size: 13px;
  color: var(--grey-label);
  margin-left: auto; /* This will push it to the right */
  padding-left: 10px;
  font-weight: 500;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between input and currency */
  border-radius: 5px;
  border: 1px solid #D2DDEC;
  padding: 0.5rem;

}

.input-row input {
  flex: 1;
  border: none;
  font-size: 16px;
  outline: none;
}

.currency {
  color: #4b5563;
  font-weight: bold;
}

.swap-card {
  position: relative; /* allow absolute positioning inside */
 
}

.swap-icon {
  position: absolute;
  top: 50%; /* middle of the container */
  left: 50%;
  transform: translate(-50%, -50%); /* center the icon */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #e5e7eb;
  z-index: 1;
}

.error-text {
  color: red;
  font-size: 14px;
  line-height: 20px;
}

.connect-wallet {
  color: var(--secondary-color);
  cursor: pointer;
  margin-left: 10px;
}

.connect-wallet:hover {
  color: #6A46D1
}

.info-text {
  background: #f9fafb;
  padding: 15px;
  font-size: 12px;
  color: var(--grey-label);
  border-radius: 6px;
  margin-top: 20px;
  line-height: 19px;

}

.connect-btn {
  margin-top: 25px;
  color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  background-color: var(--primary);
}

.connect-btn:disabled {
  background: #C2B8E6;
}

.tonomy-icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}


@media only screen and (min-width: 325px) and (max-width: 767px)
{
.swap-container {
   width: 100%; /* Center the grid on smaller screens */
  }
}

@media only screen and (max-width: 767px) {
 .swap-container {
   width: 100%; /* Center the grid on smaller screens */
  }
  
}

@media only screen and (max-width: 325px) {
  .swap-container {
   width: 100%; /* Center the grid on smaller screens */
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px)
{
.swap-container {
   width: 50%; /* Center the grid on smaller screens */
  }
}