.detail-container {
  margin-top: 30px;
  padding: 35px;
  border-radius: 20px;
  background-color: var(--app-background-active);
}

.qr-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.qr-sub-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.qr-title {
  font-weight: 600;
  line-height: 24.6px;
  letter-spacing: 0.5px;
  font-size: 24px;
}

.qr-description {
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.5px;
}

.qr-list {
  font-size: 20px;
  letter-spacing: 0.5px;
  padding-left: 23px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.highlighted-link {
  color: var(--accent);
  text-decoration: none;
  border: none;
}

.highlighted-link:hover {
  border-bottom: 2px solid var(--app-accent-hover);
}

.qr-assistance-button:active {
  border-bottom: var(--app-accent-active) !important;
}

.qr-assistance-button {
  color: var(--app-accent) !important;
  font-size: 20px;
  line-height: 20.5px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.qr-assistance-button:hover {
  border-bottom: 2px solid var(--app-accent-hover);
}

.qr-assistance-button:active {
  color: var(--app-accent-active);
}

.common-link {
  color: var(--app-accent);
  text-decoration: none;
}

.common-link:hover {
  border-bottom: 2px solid var(--app-accent-hover);
}

.common-link:active {
  color: var(--app-accent-active);
}

.links-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  line-height: 20.5px;
}
