.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.paragraph {
  line-height: 26px;
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.icon {
  display: block;
}

.downloadAppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  margin-top: 16px;
}

.qrWrapper {
  margin-top: 4rem;
  padding: 25px 16px;
  width: 100%;
  border: 1px solid var(--grey-border);
  border-radius: 20px;
  background-color: var(--white-bg);
}

.qrContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.qrTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.highlightedLink {
  color: var(--dark-black);
  border-bottom: 2px solid var(--success-alert);
  text-decoration: none;
}

.storeBadges {
  display: flex;
  align-items: center;
  gap: 3px;
}

.storeBadgeImage {
  width: 120px;
  height: 40px;
}

.assistanceButton {
  color: var(--success-alert) !important;
  font-size: 16px !important;
  line-height: 16.4px !important;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  font-family: "Epilogue", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  gap: 8px;
}

.secureInfoButton {
  display: flex;
  font-family: "Epilogue", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  align-items: center;
  gap: 8px;
  font-size: 16px !important;
  line-height: 16.4px !important;
  text-align: left;
  margin-Top: 24px;
  margin: 24px 10px;
}

@media (max-width: 768px) {
  .title {
    font-size: 22px !important;
    line-height: 22.55px !important;
    font-weight: 700 !important;
  }

  .description {
    font-size: 16px !important;
    line-height: 18.45px !important;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .qrTitle {
    font-size: 20px !important;
    line-height: 24.6px !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: left;
  }

  .qrDescription {
    font-size: 16px !important;
    line-height: 16.4px !important;
    letter-spacing: 0.5px;
    text-align: left;
  }

}