.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  text-align: center;

}
.paragraph {
  line-height: 26px;
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.icon {
  display: block;
}