.main-layout{
    width: 100%;
}

.top-menu-bar{
    height: 70px;
    background-color: var(--accent);
    color: var(--gray-50);
    display: flex;
    align-items: center;
    justify-content: center;
}