.MuiLinearProgress-bar {
  background: #5ECBE0 !important;
  border-radius: 5px !important;
}

.MuiLinearProgress-root {
  height: 23px !important;
  border-radius: 5px !important;
}

.MuiSvgIcon-root  > circle {
  color: #FFF !important;
}

.MuiStepLabel-iconContainer {
  border-radius: 50%;
  background: transparent;
  border: 1px solid #5ecbe0;
  width: 31px;
  height: 31px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiSvgIcon-root {
  margin: 4px -5px 3px 2px;
}
.Mui-completed {
  color: #5ecbe0 !important;
}

.MuiStepLabel-label {
  margin-left: 5px;
}

.Successfully-signed {
  text-align: center;
  margin-top: 5px;
}

.Circle-insurance-claims {
  width: 130px !important;
  height: 130px !important;
  top: 1820px;
  left: 330px;
}

.Circle-accounting-and-defi {
  width: 231px !important; 
  height: 231px !important;
  top: 2074px;
  left: 104px;

}

.Circle-games {
  width: 88px !important; 
  height: 88px !important;
  top: 2087px;
  left: 562px;

}

.Circle-shipping-logistic-events {
  width: 231px !important; 
  height: 231px !important; 
  top: 1863px;
  right: 423px;
}

.Circle-ntfs {
  width: 130px !important; 
  height: 130px !important;
  top: 1999px;
  right: 112px;
}

.Circle-votes {
  width: 130px !important; 
  height: 130px !important;
  top: 2183px;
  right: 305px;
}

.Mobile-screen {
  margin: 0 auto !important;
}

.set-blockchain {
  margin: 30px auto !important;
}

.how-to-use-label {
  color: var(--grey-dark-grey, #313938);
  font-size: 64px;
  font-style: normal;
  font-weight: 5T00;
  line-height: 40px;
  padding-top: 300px;
  padding-left: 140px;
}

.header-description {
  display: flex;
  width: 783px;
  height: 290px;
  flex-direction: column;
  color: var(--grey-dark-grey, #313938);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.balance-container-text-left {
  color: var(--grey-dark-grey, #313938);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  float: left;
}

.balance-container-text-right {
  color: var(--grey-dark-grey, #313938);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  float: right;
}

.form-header-container-text {
  color: var(--grey-dark-grey, #313938);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-top: 142px;
  margin-left: 31px;
  margin-right: 40px;
}

.make-payment {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
}