body{
    background: linear-gradient(115.56deg, #c1eef8 44.33%, #67d7ed 89.31%);
    height: 100%;
}
.userSection {
    width: 100%;
    text-align: end;
    padding: 1rem 5rem;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: flex-end; /* Align items to the right side */
        align-items: center; /* Center align the items vertically */
    color: var(--black); 
}
.userLogo {
    margin-right: 0.4rem;
}

.imageSlider {
    margin-top: 4.5rem;
}

