.user-section {
    width: 100%;
    text-align: end;
    padding: 1rem 5rem;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    color: var(--black); 
    padding-top: 2rem;
    font-size: 1.4rem;
}
.user-logo {
    margin-right: 0.5rem;
}

.image-slider {
    margin-top: 4.5rem;
}

.page-heading .description{
    line-height: 30px;
}

.mobile-logout-section {
    display: none;
}
.page-heading{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 37px;
    padding-top: 1.4rem;
}

.home-container {
    width: 100%;
    height: 100%;
    align-items: center;
    background: linear-gradient(115.56deg, var(--main-light-gradient) 44.33%, var(--main-blue-gradient) 89.31%) ;  
}

@media only screen and (min-width: 325px) and (max-width: 767px) {
    .user-section-spacing{
        padding: 1rem;
    }
    .page-heading{
        font-size: 1.9rem;
        padding-top: 1.4rem;
        padding-bottom: 1rem;
    } 
    .user-section, .mobile-logout-section {
        font-size: 1rem;
    }
    .description{
        padding: 0.7rem 0.6rem 4rem 0.6rem;
        line-height: 1.6;
        margin-top: 2.2rem;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 325px) {   
    .user-section-spacing {
        padding: 0.7rem 0.4rem;
    }
    .page-heading{
        font-size: 0.8rem;
        padding-top: 0.1rem;
        padding-bottom: 0rem;
        margin: 0rem 0.3rem;
    } 
     .user-section, .mobile-logout-section {
        font-size: 0.8rem;
    }
    .user-section .user-logo{
        width:24%;
    }
    .mobile-logout-section svg {
        width: 20px;
        height: 17px;
        margin-right: 0.2rem;
        font-weight: normal;
    }
    .description{
        padding: 0.7rem 0.6rem 4rem 0.6rem;
        line-height: 1.7;
        margin-top: 0rem;
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 767px) {    
    .home-container{
        background: linear-gradient(164deg, var(--light-blue-gradient) 51.39%, var(--blue-gradient) 86.19%);
    }
    .image-slider{
        margin-top: 0.8rem;
    }
    .page-heading{
        text-align: center;
        font-weight: 700;
        line-height: 37px;
    }
    .display-none{
        display: none;
    }
    .description{
        text-align: center;
        color: var(--accent);
    }
    .user-section{
        justify-content: flex-start;
        padding: 0.3rem;
    }
    .mobile-logout-section{
        display: block;
    }
    .mobile-container {
        display: flex;
        justify-content: space-between;
    }
      
    .user-section, .mobile-logout-section {
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 50%;
    }
    .mobile-logout-section {
        justify-content: flex-end;
        margin-right: 2rem;

    }
}