.text-header {
    margin-bottom: 1rem;
}

.marginTop {
    margin-top: 1.5rem;
}

.list {
    margin-top: 2rem;
}

.list li{
    margin-left: 2rem;
    display: flex; 
    align-items: center;
}

.listIcon {
    width: 22px;
    margin-right: 8px;
}

.formView {
    margin-top: 2rem;
  }
  
.security-message {
    background: rgba(76, 175, 80, 0.17);
    border-radius: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.4rem;
    margin-top: 2rem;  
}

.clientBox{
    padding: 1.3rem 3rem;
}

.linkColor {
    color: var(--success-alert) !important;
    text-decoration: underline;
    margin-left: 0.2rem;
}

.btnStyle1{
    background-color: var(--primary) !important;
    color: var(--white) !important;
    padding: 0.3rem 1rem !important;
    border-radius: 20px;
    margin: 1.5rem 0rem!important;
    font-weight: 600 !important;
    font-size: 16px !important;
}
