.qr-container-modal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--app-background-active);
}

.qr-modal-header {
  display: flex;
  justify-content: space-between;
}

.qr-modal-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30.75px;
}

.qr-modal-section-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 18.45px;
}

.qr-modal-list {
  padding-left: 23px;
  padding-top: 10px;
  font-size: 18px;
}

.qr-modal-help {
  color: var(--app-accent) !important;
  margin-top: 24px !important;
  display: flex !important;
  gap: 12px;
  text-decoration: none !important;
  font-size: 20px;
  line-height: 20.5px;
  cursor: pointer !important;
  align-items: center !important;
}

.qr-modal-help:hover {
  border-bottom: 2px solid var(--app-accent-hover);
}

.qr-modal-help:active {
  color: var(--app-accent-active);
}

.common-link {
  color: var(--app-accent);
  text-decoration: none;
  cursor: pointer;
}

.common-link:hover {
  border-bottom: 2px solid var(--app-accent-hover);
}

.common-link:active {
  color: var(--app-accent-active);
}

@media (max-width: 768px) {
  .qr-container-modal {
    gap: 15px;
  }

  .qr-modal-title {
    font-size: 22px;
    line-height: 22.55px;
  }

  .qr-modal-section-title {
    font-size: 16px;
    line-height: 5px;
  }

  .qr-modal-list {
    font-size: 16px;
  }

  .qr-modal-help {
    font-size: 16px;
    line-height: 5px;
  }
}
