.qrContainerModal {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.qrModalHeader {
    display: flex;
    justify-content: space-between;
}

.qrModalTitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 30.75px;
}

.qrModalSectionTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 18.45px;
}

.qrModalList {
    padding-left: 23px;
    padding-top: 10px;
    font-size: 18px;
}

.qrModalHelp {
    color: var(--success-alert) !important;
    margin-top: 24px;
    display: flex;
    gap: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20.5px;
    cursor: pointer;
    align-items: center;
}

.qrModalHelp:hover {
    border-bottom: 2px solid var(--success-alert-hover);
}

.qrModalHelp:active {
    color: var(--success-alert-active);
}

.commonLink {
    color: var(--success-alert);
    text-decoration: none;
    cursor: pointer;
}

.commonLink:hover {
    border-bottom: 2px solid var(--success-alert-hover);
}

.commonLink:active {
    color: var(--success-alert-active);
}

@media (max-width: 768px) {
    .qrContainerModal {
        gap: 15px;
    }

    .qrModalTitle {
        font-size: 22px;
        line-height: 22.55px;
    }

    .qrModalSectionTitle {
        font-size: 16px;
        line-height: 5px;
    }

    .qrModalList {
        font-size: 16px;
    }

    .qrModalHelp {
        font-size: 16px;
        line-height: 5px;
    }
}