/* In your CSS file */
.tonomy-bankless-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
  background-color: var(--white);
}
.tonomy-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 9rem;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  font-family: 'Arial', sans-serif;
}

.tonomy-title {
  display: flex;
  align-items: center; /* Vertically center items */
  gap: 8px; /* Space between image and title */
}

.tonomy-logo {
  display: inline-block;
  /* Adjust size if needed - or use width/height attributes */
}

.tonomy-main-title {
  display: inline-block;
  margin: 0; /* Remove default h1 margin */
  font-size: 23px;
  font-weight: bold;
}

.tonomy-subtitle {
  font-size: 16px;
  margin: 5px 0 0 0;
  color: #666666;
}

.tonomy-time-container {
  display: flex;
  align-items: center;
  gap: 9px; /* Space between time and icon */
}

.tonomy-time {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
  margin-left:10px
}

.tonomy-arrow-icon {
  color: #333333; /* Match the text color */
  font-size: 20px; /* Adjust size as needed */
}

@media only screen and (min-width: 325px) and (max-width: 767px)
{
  .tonomy-header {
    padding: 9px 4rem; /* Adjust padding for smaller screens */
  }
}

@media only screen and (max-width: 767px) {
  .tonomy-header {
    padding: 9px 1rem; /* Adjust padding for smaller screens */
  }
  
}

@media only screen and (max-width: 325px) {
  .tonomy-header {
    padding: 9px 1rem; /* Further adjust padding for smaller screens */
  }
}