
.input-container {
    position: relative;
    width: 100%;
    padding: 1rem 10rem;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .transparent-textbox {
    background-color: var(--transparent);
    border: 0px;
    padding: 2.2rem 1.4rem;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 0.9rem;
  }
  .transparent-textbox:focus {
    background-color: transparent;
    outline: none;
    border: 2px solid var(--link-color) !important;
  }
  
  
  .textbox-label {
    position: absolute;
    top: 1.4em;
    left: 11.5rem;
    color: black;
    pointer-events: none;
    font-weight: 500;
  }

@media only screen and (max-width: 767px) {
  .input-container{
    padding: 0rem 1rem;
    margin-bottom: 1rem;
  }
  .transparent-textbox{
    padding: 1rem 1.4rem 1rem 1.4rem;
    height: 40%;
    margin-top: 2.1rem;
  }
  .textbox-label {
    position: absolute;
    top:0rem;
    left: 1.3rem;
    font-weight: 500;
    bottom: 0rem;
  }
}